
#footer {
    background: black;
    display: flex;
    justify-content: center;
    height: 80px;
}

#footer h1 {
    font-size: 14px;
    padding-top: 23px;
    color: white;
}

#footer img {
    padding-top: 20px;
    padding-left: 10px;
    width: 140px;
    height: 38px;
}