#projectos {
    margin-left: 370px;
    margin-top: 70px;
    width:1200px;
}


#projectos h1 {
    font-size: 31px;
    font-weight: bold;
}


#projectos h2 {
    padding-top: 10px;
    font-size: 15px;
    color: red;
    padding-bottom: 80px;
}

#projectos button {
    margin-left: 535px;
    margin-top: 10px;
    background: #ed6a5a;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    }




// #projectos .row .field1 {
//     position: inherit;
//     padding-left: initial;
// }

// #projectos .row .field2 {
//     padding-left: 50px;
// }


// .hover-zoomin a {
//     display: block;
//     position: relative;
//     overflow: hidden;
//   }
//   .hover-zoomin img {
//     width: 100%;
//     height: auto;
//     -webkit-transition: all 0.5s ease-in-out;
//     -moz-transition: all 0.5s ease-in-out;
//     -o-transition: all 0.5s ease-in-out;
//     -ms-transition: all 0.5s ease-in-out;
//     transition: all 0.5s ease-in-out;
//   }
//   .hover-zoomin:hover img {
//     -webkit-transform: scale(1.2);
//     -moz-transform: scale(1.2);
//     -o-transform: scale(1.2);
//     -ms-transform: scale(1.2);
//     transform: scale(1.2);
//   }
