#projectos {
    margin-left: 390px;
    margin-top: 80px;
    width:1200px;
}


#projectos h1 {
    font-size: 31px;
    font-weight: bold;
}


#projectos h2 {
    padding-top: 10px;
    font-size: 15px;
    color: red;
    padding-bottom: 80px;
}

#projectos button {
    margin-left: 535px;
    margin-top: 10px;
    background: #ed6a5a;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    }


#projectos .row .field1 {
    position: inherit;
    padding-left: initial;
}

#projectos .row .field1 img {
    width: 250px;
    height: 150px;
}

#projectos .row .field2 {
    margin-left: -58px;
}

#projectos .row .field2 img {
    width: 250px;
    height: 150px;
}

#projectos .row .field3 {
    margin-left: -115px;
}

#projectos .row .field3 img {
    width: 250px;
    height: 150px;
}

#projectos .row .field4 {
    margin-left: -172px;
}

#projectos .row .field4 img {
    width: 250px;
    height: 150px;
}

#projectos .row .field5 {
    margin-left: 0px;
}

#projectos .row .field5 img {
    width: 250px;
    height: 150px;
}

#projectos .row .field6 {
    margin-left: -58px;
}

#projectos .row .field6 img {
    width: 250px;
    height: 150px;
}

#projectos .row .field7 {
    margin-left: -115px;
}

#projectos .row .field7 img {
    width: 250px;
    height: 150px;
}

#projectos .row .field8 {
    margin-left: -172px;
}

#projectos .row .field8 img {
    width: 250px;
    height: 150px;
}

#projectos .row .field9 {
    margin-left: 0px;
}

#projectos .row .field9 img {
    width: 250px;
    height: 150px;
}

#projectos .row .field10 {
    margin-left: -58px;
}

#projectos .row .field10 img {
    width: 250px;
    height: 150px;

}




.hover-zoomin a {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .hover-zoomin img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .hover-zoomin:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
