#segredo {
    display: flex;
    margin-bottom: 50px;
    height: 530px;
    margin-bottom: 90px;
}

#segredo .segredoimg {
    margin-left: 350px;
    margin-top: 90px;
}

#segredo .segredotexto {
    margin-left: 200px;
    margin-top: 140px;
}

#segredo .segredotexto h1 {
    font-size: 40px;
    font-weight: bold;
}

#segredo .segredotexto h2 {
    font-size: 18px;
    line-height: 1.8;
}
